.addPosition {
    width: 30%;
    padding: 0 3% 0 0;
}

.addDepartment {
    width: 30%;
    padding: 0 3% 0 0;
}


.position-list {
    margin-bottom: 3%;
}

.button-delete {
    margin-left: 2%;
}

.addTraineePosition {
    width: 30%;
    padding: 0 3% 0 0;
}

.trainee-position-list {
    margin-bottom: 3%;
}

.button-delete {
    margin-left: 2%;
}

