<nz-card>
  <div nz-row>
    <div nz-col nzSpan="6">
      <h3>All Job Form</h3>
      <nz-switch
        [(ngModel)]="switchValue"
        (ngModelChange)="closeJobApplication()"
      ></nz-switch>
    </div>

    <div nz-col nzSpan="6">
      <h3>Job Application</h3>
      <nz-switch
        [(ngModel)]="justJobSwitchValue"
        (ngModelChange)="closeJustJobApplication()"
      ></nz-switch>
    </div>

    <div nz-col nzSpan="6">
      <h3>Trainee Job Application</h3>
      <nz-switch
        [(ngModel)]="traineeSwitchValue"
        (ngModelChange)="closeTraineeJobApplication()"
      ></nz-switch>
    </div>
  </div>
</nz-card>
<br />
<nz-card class="manage-position">
  <div nz-row>
    <div nz-col nzSpan="12">
      <h3>Job Postition</h3>
      <div class="position-list" *ngFor="let pos of positionList">
        <p>{{ pos.value }}</p>
        <nz-switch
          [(ngModel)]="pos.isopen"
          (ngModelChange)="onChange($event, pos)"
        ></nz-switch>
        <button
          class="button-delete"
          (click)="deletePosition(pos.id)"
          nz-button
          nzType="default"
          nzSize="small"
          nzDanger
        >
          Delete
        </button>
      </div>
    </div>
    
    <div nz-col nzSpan="12">
      <h3>Trainee Position</h3>
      <div class="trainee-position-list" *ngFor="let pos of traineePositionList">
        <p>{{ pos.value }}</p>
        <nz-switch
          [(ngModel)]="pos.isopen"
          (ngModelChange)="onTraineeChange($event, pos)"
        ></nz-switch>
        <button
          class="button-delete"
          (click)="deleteTraineePosition(pos.id)"
          nz-button
          nzType="default"
          nzSize="small"
          nzDanger
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</nz-card>

<br />

<div nz-row>
  <div nz-col nzSpan="12" class="addPosition">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input
        type="text"
        nz-input
        placeholder="position"
        [(ngModel)]="positionInput"
      />
    </nz-input-group>
    <ng-template #suffixButton>
      <button
        (click)="addPosition()"
        nz-button
        nzType="primary"
        nzSize="large"
        nzSearch
      >
        Add
      </button>
    </ng-template>
  </div>
  <div nz-col nzSpan="12" class="addTraineePosition">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="traineebutton">
      <input
        type="text"
        nz-input
        placeholder="trainee position"
        [(ngModel)]="traineePositionInput"
      />
    </nz-input-group>
    <ng-template #traineebutton>
      <button
        (click)="addTraineePosition()"
        nz-button
        nzType="primary"
        nzSize="large"
        nzSearch
      >
        Add
      </button>
    </ng-template>
  </div>
</div>
<br>



<nz-card class="manage-position">
  
  <div nz-row>
    <div nz-col nzSpan="12">
      <h3>Department</h3>
      <div style="display: flex;"class="department-list" *ngFor="let pos of departmentList">
        <p>{{ pos.value }}</p>
        <button
          class="button-delete"
          (click)="deleteDepartment(pos.id)"
          nz-button
          nzType="default"
          nzSize="small"
          nzDanger
        >
          Delete
        </button>
      </div>
    </div>

    <div nz-col nzSpan="12">
      <h3>User Position</h3>
      <div style="display: flex;"class="user-position-list" *ngFor="let pos of userPositionList">
        <p>{{ pos.value }}</p>
        <button
          class="button-delete"
          (click)="deleteUserPosition(pos.id)"
          nz-button
          nzType="default"
          nzSize="small"
          nzDanger
        >
          Delete
        </button>
      </div>
    </div>
    

  </div>
</nz-card>

<br />

<div nz-row>
  <div nz-col nzSpan="12" class="addDepartment">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="departmentButton">
      <input
        type="text"
        nz-input
        placeholder="department"
        [(ngModel)]="departmentInput"
      />
    </nz-input-group>
    <ng-template #departmentButton>
      <button
        (click)="addDepartment()"
        nz-button
        nzType="primary"
        nzSize="large"
        nzSearch
      >
        Add
      </button>
    </ng-template>
  </div>
  <div nz-col nzSpan="12" class="addUserPosition">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="userButton">
      <input
        type="text"
        nz-input
        placeholder="position"
        [(ngModel)]="userPositionInput"
      />
    </nz-input-group>
    <ng-template #userButton>
      <button
        (click)="addUserPosition()"
        nz-button
        nzType="primary"
        nzSize="large"
        nzSearch
      >
        Add
      </button>
    </ng-template>
  </div>
  
</div>



