
form {
    margin: 15% 40%;
  
}

.login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

 .login-logo{
    width: 40%;
    margin: 0 30% 10%;
 }