<nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" [nzPageSize]="1" nzSimple (nzPageIndexChange)="onIndexChange($event)"></nz-pagination>

<nz-descriptions nzTitle="User Info" nzBordered>
    <nz-descriptions-item nzTitle="ชื่อ" [nzSpan]="2" >{{ data!.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="นามสกุล"[nzSpan]="2">{{ data!.surname }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="อายุ" [nzSpan]="2" >{{ data!.age }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="มหาวิทยาลัย" [nzSpan]="2">{{ data!.uni }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="คณะ" [nzSpan]="2">{{ data!.fac }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="เบอร์โทรศัพท์">{{ data!.tel }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="อีเมลล์" [nzSpan]="2">{{ data!.email }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="ฝ่ายที่สนใจสมัคร">{{ data!.pos }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="ช่วงวันที่ฝึกงาน">{{ data!.date }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="ระยะเวลา">{{ data!.period }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="ได้รับข่าวสารจากทางใด" [nzSpan]="2">{{ data!.source }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="resume" [nzSpan]="4"><a href="{{data!.resume}}" target="_blank">{{ data!.resume }}</a></nz-descriptions-item>
    <nz-descriptions-item nzTitle="portfolio" [nzSpan]="4">{{ data!.port }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="facebook">{{ data!.fb }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="instragram" [nzSpan]="2">{{ data!.ig }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="แนะนําตัวเองเบื้องต้น">{{ data!.about }}</nz-descriptions-item>
  </nz-descriptions>